streamlit_chat==0.0.2.2
streamlit==1.19.0
langchain==0.0.129
altair==4.0 
django
pypdf 
python-dotenv 
numexpr 
openai 
PyPDF2 
chromadb 
unstructured 
tiktoken 
pymupdf
pdf2image 
pdfminer.six
pysqlite3-binary
