streamlit_chat==0.0.2.2
nltk==3.8.1
streamlit==1.19.0
langchain==0.0.129
altair==4.0 
chroma == 3.35.0
sqlite == 3.35.0
pypdf 
python-dotenv 
numexpr 
openai 
PyPDF2 
InstructorEmbedding 
transformers 
faiss-cpu 
sentence_transformers 
chromadb 
unstructured 
tiktoken 
pymupdf
pdf2image 
pdfminer.six
pysqlite3-binary
